<div class="header-inscription d-flex align-center justify-content-center">
  <figure>
    <img src="./../../assets/images/logo_rooots.svg" alt="logo Rooots" />
  </figure>
</div>
<div class="container-inscription d-flex justify-content-center align-center">
  <div class="content-form d-flex flex-column">
    <app-rt-nav-link
      class="back"
      leftIcon="arrow_back"
      text="retour"
    ></app-rt-nav-link>
    <h1>S'inscrire</h1>
    <h3>Inscrivez-vous pour bénéficier de nos services</h3>
    <form
      class="card-inscription d-flex flex-column"
      (ngSubmit)="submit()"
      [formGroup]="form"
    >
      <div class="item-inscription">
        <label [ngClass]="{'error-form': lastName!.errors && lastName!.touched  }" class="d-flex flex-column" for="lastName">
          Nom
          <input
            [ngClass]="{ 'error-input': lastName!.errors && lastName!.touched }"
            placeholder="Entrez votre nom"
            type="text"
            name="lastName"
            id="lastName"
            formControlName="lastName"
          />
        </label>
      </div>

      <div class="item-inscription">
        <label [ngClass]="{'error-form': firstName!.errors && firstName!.touched }" class="d-flex flex-column" for="firstName">
          Prénom
          <input
            [ngClass]="{
              'error-input': firstName!.errors && firstName!.touched
            }"
            placeholder="Entrez votre prénom"
            type="text"
            name="firstName"
            id="firstName"
            formControlName="firstName"
          />
        </label>
      </div>

      <div class="item-inscription">
        <label [ngClass]="{'error-form': userEmail!.errors && userEmail!.touched }" class="d-flex flex-column" for="userEmail">
          Adresse mail
          <input
            [ngClass]="{
              'error-input': userEmail!.errors && userEmail!.touched
            }"
            placeholder="Entrez votre adresse mail"
            type="mail"
            name="userEmail"
            id="userEmail"
            formControlName="userEmail"
          />
        </label>
      </div>

      <div class="item-inscription">
        <label [ngClass]="{'error-form': userTel!.errors && userTel!.touched }" class="d-flex flex-column" for="userTel">
          Numéro de téléphone
          <input
            [ngClass]="{ 'error-input': userTel!.errors && userTel!.touched }"
            placeholder="Entrez votre numéro de téléphone"
            type="tel"
            name="userTel"
            id="userTel"
            maxlength="10"
            formControlName="userTel"
          />
        </label>
      </div>

      <div class="item-inscription">
        <label [ngClass]="{'error-form': compagny!.errors && compagny!.touched }" class="d-flex flex-column" for="compagny">
          Nom de l'entreprise
          <input
            [ngClass]="{ 'error-input': compagny!.errors && compagny!.touched }"
            placeholder="Entrez votre nom de l'entreprise"
            type="text"
            name="compagny"
            id="compagny"
            formControlName="compagny"
          />
        </label>
      </div>

      <div class="item-inscription">
        <label  [ngClass]="{'error-form': SIRET!.errors && SIRET!.touched }" class="d-flex flex-column" for="SIRET">
          Numéro SIRET
          <input
            [ngClass]="{ 'error-input': SIRET!.errors && SIRET!.touched }"
            placeholder="Entrez votre numéro SIRET de votre entreprise"
            type="text"
            name="SIRET"
            id="SIRET"
            maxlength="14"
            formControlName="SIRET"
          />
        </label>
      </div>

      <div class="item-inscription">
        <label [ngClass]="{'error-form': userBirthday!.errors && userBirthday!.touched }" class="d-flex flex-column" for="userBirthday">
          Date de naissance
          <input
            [ngClass]="{
              'error-input': userBirthday!.errors && userBirthday!.touched
            }"
            placeholder= "_ _ / _ _ / _ _ _ _"
            type="date"
            name="userBirthday"
            id="userBirthday"
            formControlName="userBirthday"
          />
        </label>
      </div>

      <div class="item-inscription">
        <label [ngClass]="{'error-form': (userPassword!.errors && userPassword!.touched)  || (form.errors?.['passwordMismatch'])}" class="d-flex flex-column" for="userPassword">
          Mot de passe
          <div class="container-view">
            <input
              [ngClass]="{
                'error-input': (userPassword!.errors && userPassword!.touched) || (form.errors?.['passwordMismatch'])
              }"
              placeholder="Choisissez un mot de passe"
              [type]="showUserPassword ? 'text' : 'password'"
              name="userPassword"
              id="userPassword"
              formControlName="userPassword"
            />
            <i (click)="SeePassword('userPassword')"
              >
              <img *ngIf="!showUserPassword" src="../../assets/icons/icon_view.svg"/>
            <img *ngIf="showUserPassword" src="../../assets/icons/icon_eye.svg"/>
          </i>
            
            
          </div>
        </label>
        <div class="item-info">
          <p>Votre mot de passe doit contenir :</p>
          <ul>
            <li>au minimum 8 caractères</li>
            <li>une minuscule</li>
            <li>une majuscule</li>
            <li>un chiffre</li>
            <li>un caractère spécial &#91;&#93;&#40;&#41;&#33;_@&amp;#+-*</li>
          </ul>
        </div>
      </div>

      <div class="item-inscription">
        <label [ngClass]="{'error-form': (confirmUserPassword!.errors && confirmUserPassword!.touched) || (form.errors?.['passwordMismatch'])}" class="d-flex flex-column" for="confirmUserPassword">
          Confirmer le mot de passe 
          <div class="container-view">
            <input
              [ngClass]="{
                'error-input':
                  (confirmUserPassword!.errors && confirmUserPassword!.touched) || (form.errors?.['passwordMismatch'])
              }"
              placeholder="Entrez à nouveau le mot de passe"
              [type]="showConfirmUserPassword ? 'text' : 'password'"
              name="confirmUserPassword"
              id="confirmUserPassword"
              formControlName="confirmUserPassword"
            />
            <i (click)="SeePassword('confirmUserPassword')"
              >
              <img *ngIf="!showConfirmUserPassword" src="../../assets/icons/icon_view.svg"/>
              <img *ngIf="showConfirmUserPassword" src="../../assets/icons/icon_eye.svg"/>
            </i>
          </div>
        </label>
      </div>

      <div class="item-inscription wrapper-checkbox">
        <label [ngClass]="{'error-form': conditionsUtilisation!.errors && conditionsUtilisation!.touched }" for="conditions-utilisation" class="d-flex align-center">
          <input
            [ngClass]="{
              'error-input':
                conditionsUtilisation!.errors && conditionsUtilisation!.touched
            }"
            type="checkbox"
            class="rt-checkbox"
            formControlName="conditionsUtilisation"
            id="conditions-utilisation"
          />
          <p>
            J'ai lu et compris les
            <span
              class="conditions-utilisation"
              routerLink="../conditions-utilisation"
            >
              conditions d'utilisation</span
            >.
          </p></label
        >
        

        <label for="actu" class="d-flex align-center">
          <input
            type="checkbox"
            id="actu"
            class="rt-checkbox"
            formControlName="actuRooots"
          />Je souhaite recevoir les actualités de Rooots par mail.</label
        >
      </div>

      <div class="item-inscription">
        <input
          type="submit"
          name="submit"
          class="rt-button rt-primary"
          value="S'inscrire"
        />
        <p class="errors" *ngIf="form.errors?.['passwordMismatch'] && confirmUserPassword!.touched && userPassword!.touched">Les mots de passes ne sont pas identique !</p>
      </div>

      <div class="footer-form">
        <h3>Vous avez déjà un compte ?</h3>
        <app-rt-button
          text="Se connecter"
          class="item-inscription"
          routerLink="/connexion"
        ></app-rt-button>
      </div>
    </form>
  </div>
</div>
