<div class="container container-footer">
  <div class="container-newsletter d-flex jus">
    <div
      class="container-img-newsletter"
      [ngStyle]="{
        backgroundImage: 'url(assets/images/img_illustration_newsletter.svg)'
      }"
    ></div>
    <div
      class="content-newsletter d-flex flex-column justify-content-space-between"
    >
      <div class="item-content">
        <h2>Abonnez-vous à la newsletter</h2>
        <p>
          Recevez les actualités durables et les offres exclusives en vous
          abonnant à notre newsletter.
        </p>
      </div>
      <div class="formulaire-newsletter d-flex">
        <input type="email" name="email" id="email" />
        <button class="btn-primary">S'abonner</button>
      </div>
    </div>
  </div>
  <div class="top-footer d-flex justify-content-space-between">
    <div class="item-footer d-flex flex-column">
      <img src="./../../assets/images/logo_rooots.svg" />
      <div class="container-social-media">
        <a href=""
          ><img src="../../assets/icons/icon_facebook.svg" alt="Facebook"
        /></a>
        <a href=""
          ><img src="../../assets/icons/icon_linkedin.svg" alt="Linkedin"
        /></a>
        <a href="">
          <img src="../../assets/icons/icon_instagram.svg" alt="Instagram" />
        </a>
      </div>
    </div>
    <div class="item-footer d-flex flex-column">
      <h3>Informations</h3>
      <a>Contact</a>
      <a>Fournisseurs</a>
      <a>FAQ</a>
      <a>Plan du site</a>
    </div>
    <div class="item-footer d-flex flex-column">
      <h3>Législation</h3>
      <a>Mentions légales</a>
      <a>Protection des données</a>
      <a>CGU Rooots</a>
    </div>
    <div class="item-footer d-flex flex-column">
      <h3>Membres</h3>
      <a>Devenir vendeur</a>
      <a>Espace vendeur</a>
      <a>Programme parrainage</a>
      <a>Service client</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="under-footer d-flex justify-content-space-between">
    <p>2023 Rooots. Tous droits réservés.</p>
    <div class="container-bank-card">
      <img src="../../assets/icons/icon_visa.svg" alt="Visa" />
      <img src="../../assets/icons/icon_mastercard.svg" alt="Mastercard" />
      <img src="../../assets/icons/icon_stripe.svg" alt="Stripe" />
    </div>
  </div>
</div>
