<div class="newsletter">
  <figure class="container-img-newsletter">
    <img
      src="./../../../../assets/images/img_illustration_newsletter.webp"
      alt="newsletter Rooots"
    />
  </figure>
  <div class="content-newsletter">
    <div class="item-content">
      <h2>{{ titleCard }}</h2>
      <p>{{ paraCard }}</p>
    </div>
    <div class="formulaire-newsletter d-flex">
      <input
        type="email"
        name="email"
        id="email"
        placeholder="{{ placeholder }}"
      />
      <app-rt-button *ngIf="!isMobile" text="{{ subscribe }}"></app-rt-button>
      <button *ngIf="isMobile" class="btn-newsletter">{{ subscribe }}</button>
    </div>
  </div>
</div>
