.rt-search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  mat-icon {
    user-select: none;
    color: var(--primary);
    font-size: 50px;
    height: auto;
    width: auto;
    font-size: 36px;
  }
  &:hover {
    background: #cae1db;
  }
}
