<!-- <app-rt-button></app-rt-button>
<app-rt-button leftIcon='home' rightIcon='home' type="secondary" text="button 2"></app-rt-button>
<app-rt-button type="tertiary" text="button 3"></app-rt-button>
<app-rt-search-button></app-rt-search-button>
<app-rt-checkbox></app-rt-checkbox>
<app-rt-hightlight-card></app-rt-hightlight-card>
<app-rt-proximity-card></app-rt-proximity-card>
<app-rt-article></app-rt-article>
<app-rt-material-card></app-rt-material-card>
<app-rt-header-material></app-rt-header-material>
<app-rt-testimonial-card></app-rt-testimonial-card>
<app-rt-newsletter-card></app-rt-newsletter-card>
<app-rt-nav-link></app-rt-nav-link>
<app-rt-language-dropdown></app-rt-language-dropdown>
<app-rt-language-dropdown type='secondary' size='big' leftIcon='person'></app-rt-language-dropdown>
<app-rt-search-bar></app-rt-search-bar>
<app-rt-header></app-rt-header>
<app-rt-list></app-rt-list>
<app-rt-input-text placeholder="Nouveau placeholder"></app-rt-input-text> -->