<div class="container-connexion">
  <app-rt-button text="Retour" type="tertiary"></app-rt-button>
  <h1>Se connecter</h1>
  <h3>Connectez-vous pour accéder à votre compte</h3>
  <div class="card-connexion">
    <label for="mail">
      Adresse mail
      <app-rt-input-text
        placeholder="Entrez votre adresse mail"
        type="email"
        formControlName="email"
      ></app-rt-input-text>
    </label>
    <label for="mail">
      Mot de passe
      <app-rt-input-text
        placeholder="Entrez votre mot de passe"
        formControlName="password"
      ></app-rt-input-text>
    </label>
    <app-rt-button type="tertiary">Mot de passe oublié ?</app-rt-button>
    <label for="remember"> <app-rt-checkbox formControlName="remember"></app-rt-checkbox>
    Se souvenir de moi</label>
  </div>
</div>
