<div class="header-connexion d-flex align-center justify-content-center">
  <figure>
    <img src="./../../assets/images/logo_rooots.svg" alt="logo Rooots" />
  </figure>
</div>
<div class="container-connexion d-flex justify-content-center align-center">
  <div class="content-form d-flex flex-column">
    <app-rt-nav-link
      class="back"
      leftIcon="arrow_back"
      text="retour"
    ></app-rt-nav-link>
    <h1>Se connecter !</h1>
    <h3>Connectez-vous pour accéder à votre compte</h3>

    <form class="card-connexion d-flex flex-column" (ngSubmit)="submit()" [formGroup]="form" >
      <div *ngIf="submitForm && form.valid == false" class="error-form">
        <h3>Email ou Mot de passe incorrect !</h3>
      </div>
      <div class="item-connexion">
        <label [ngClass]="{'error-form': (submitForm && !form.valid) }" class="d-flex flex-column" for="mail">
          Adresse mail
          <input
          [ngClass]="{'error-input': submitForm && !form.valid || (userEmail!.errors && userEmail!.touched)}"
            placeholder="Entrez votre adresse mail"
            name="userEmail"
            type="email"
            id="mail"
            formControlName="userEmail"
          />
        </label>
      </div>

      <div class="item-connexion">
        <label [ngClass]="{'error-form': submitForm && !form.valid}" class="d-flex flex-column" for="password">
          Mot de passe
          <div class="container-view">
            <input
            [ngClass]="{'error-input': submitForm && !form.valid || (userPassword!.errors && userPassword!.touched)}"

              placeholder="Entrez votre mot de passe"
              name="userPassword"
              [type]="showUserPassword ? 'text' : 'password'"
              id="password"
              formControlName="userPassword"
            />
            <i (click)="SeePassword('confirmUserPassword')"
              >
              <img *ngIf="!showUserPassword" src="../../assets/icons/icon_view.svg"/>
              <img *ngIf="showUserPassword" src="../../assets/icons/icon_eye.svg"/>
            </i>
          </div>
        </label>
      </div>
      <div class="item-connexion">
        <app-rt-button
          text="Mot de passe oublié ?"
          type="tertiary"
        ></app-rt-button>
      </div>
      <div class="item-connexion">
        <label for="rememberMe"  class="d-flex align-center">
          <input
            type="checkbox"
            id="rememberMe"
            class="rt-checkbox"
            formControlName="rememberMe"
          /> Se souvenir de
          moi</label
        >
      </div>

      <div class="item-connexion">
        <input
          type="submit"
          name="submit"
          class="rt-button rt-primary"
          value="Se connecter"
        />
      </div>


      <div class="footer-form">
        <h3>Vous n'avez pas de compte ?</h3>
        <app-rt-button
          text="S'inscrire"
          class="item-connexion"
          routerLink="/inscription"
        ></app-rt-button>
      </div>
    </form>
  </div>
</div>
