<p>product works!</p>
<div class="container-product">
  <div class="navbar">
    <!-- Inserer  depuis search product-->
  </div>

  <div class="wrapper">
    <div class="little-img">
      <img src="./../../assets/images/img_product.svg" alt="" />
      <img src="./../../assets/images/img_product.svg" alt="" />
      <img src="./../../assets/images/img_product.svg" alt="" />
    </div>
    <figure>
      <img src="./../../assets/images/img_product.svg" alt="" />
    </figure>
    <div class="info-product">
        <app-rt-nav-link>EthicalTextiles</app-rt-nav-link>
        <h2>Lin vegan</h2>
        <p>95,90€<span>/kg</span></p>
        <p>Hors taxe</p>
        <p>Cultivé sans l'utilisation de pesticides ni d'engrais chimiques, le lin vegan est respectueux de l'environnement tout en offrant une alternative végétalienne aux tissus traditionnels.</p>
    </div>
  </div>
</div>
