.container-footer {
  border-bottom: 1px solid var(--gray-background);
  background: linear-gradient(
    to bottom,
    var(--gray-background) 0%,
    var(--gray-background) 25%,
    white 25%,
    white 100%
  );
  .top-footer {
    padding: 2rem 0;
    .container-social-media {
      margin: 1rem 0;
      a {
        margin: 5px;
        padding: 5px;
      }
    }
    .item-footer {
      h3 {
        margin-bottom: 12px;
      }
    }
  }
}
.under-footer {
  margin: 2rem 0;
  .container-bank-card {
    img {
      margin-right: 4px;
    }
  }
}

@media screen and (max-width: 900px) {
  .item-footer {
    margin-bottom: 30px;
    #logo {
      width: 50%;
    }
    .container-social-media {
      img {
        width: 25px;
        height: 25px;
      }
    }
  }
  .under-footer{
    margin: 0;
    margin-bottom: 2rem;
  }
}
