* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary: #068464;
  --secondary: #2b486c;
  --accent : #034232;
  --first-font-family: 'DM Sans', sans-serif;
  --secondary-font-family: "CoconPro-Regular Regular";
  --box-shadow: 0 1px 4px 0 #1115190a, 0 4px 10px 0 #11151914;
  --background-color: #fff;
  --gray-background: #f3f3f8;
  --gray: #808080;
  --neutral: #ecf0f3;
}
body {
  font-family: var(--first-font-family);
  color: var(--secondary);
  height: max-content;
}
mat-icon, img{
  user-select: none;
}
ul {
  list-style: none;
}
.container {
  padding: 0 5rem;
}

h1 {
  font-family: var(--secondary-font-family);
  font-size: 51px;
  font-weight: 700;
  line-height: 51px;
  text-align: center;
}
h2 {
  font-family: var(--secondary-font-family);
  font-size: 38px;
  font-weight: 700;
  line-height: 41px;
}
h3 {
  font-family: var(--primary-font-family);
  font-size: 21px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-evenly {
  justify-content: space-evenly;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-flex-end {
  justify-content: flex-end;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}

.m-5 {
  margin: 5px;
}
.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-50 {
  margin-top: 50px;
}

.m-ver-10 {
  margin: 10px 0;
}
.m-ver-20 {
  margin: 20px 0;
}
.m-hor-20 {
  margin: 0 20px;
}
.m1-rem-hor {
  margin: 0 1rem;
}
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 20px;
}
.mr-20 {
  margin-right: 20px;
}
.p-20 {
  padding: 20px;
}

