<div class="d-flex flex-column">
  <div class="item-1 d-flex flex-column align-center">
    <div class="content-item-1 d-flex align-center flex-column">
      <h1>
        {{ titleHome }}
        <span class="underline">{{ endTitleHome }}</span>
      </h1>
      <p>
        {{ paraHome }}
      </p>
      <div class="d-flex m-20">
        <app-rt-button
          size="big"
          type="secondary"
          text="{{ buy }}"
        ></app-rt-button>
      </div>
    </div>
  </div>
  <div class="wrapper-cards">
    <div
      class="d-flex justify-content-space-between container-card container flex-wrap"
      *ngIf="!isMobile"
    >
      <app-rt-hightlight-card
        img="../../assets/images/img_hightlight_1.svg"
        text="{{ hightlightCard1 }}"
      ></app-rt-hightlight-card>
      <app-rt-hightlight-card
        img="../../assets/images/img_hightlight_2.svg"
        text="{{ hightlightCard2 }}"
      ></app-rt-hightlight-card>
      <app-rt-hightlight-card
        img="../../assets/images/img_hightlight_3.svg"
        text="{{ hightlightCard3 }}"
      ></app-rt-hightlight-card>
      <app-rt-hightlight-card
        img="../../assets/images/img_hightlight_4.svg"
        text="{{ hightlightCard4 }}"
      ></app-rt-hightlight-card>
    </div>

    <div class="container-card container-left" *ngIf="isMobile">
      <swiper-container
        [config]="swiperConfigHightlight"
        appSwiper
        #swiperHightlight
      >
        <swiper-slide>
          <app-rt-hightlight-card
            img="../../assets/images/img_hightlight_1.svg"
            text="{{ hightlightCard1 }}"
          ></app-rt-hightlight-card>
        </swiper-slide>
        <swiper-slide>
          <app-rt-hightlight-card
            img="../../assets/images/img_hightlight_2.svg"
            text="{{ hightlightCard2 }}"
          ></app-rt-hightlight-card
        ></swiper-slide>
        <swiper-slide
          ><app-rt-hightlight-card
            img="../../assets/images/img_hightlight_3.svg"
            text="{{ hightlightCard3 }}"
          ></app-rt-hightlight-card
        ></swiper-slide>
        <swiper-slide>
          <app-rt-hightlight-card
            img="../../assets/images/img_hightlight_4.svg"
            text="{{ hightlightCard4 }}"
          ></app-rt-hightlight-card
        ></swiper-slide>
      </swiper-container>
    </div>
  </div>

  <div class="container container-position" *ngIf="!isMobile">
    <div class="d-flex justify-content-space-between">
      <h2 class="title-position">{{ titleProximity }}</h2>
      <div *ngIf="!isMobile">
        <img
          src="./../../assets/icons/icon_slider_arrow.svg"
          alt="slide précédant"
          (click)="onSlidePrev()"
          class="arrow-slide m-hor-20"
        />
        <img
          src="./../../assets/icons/icon_slider_arrow.svg"
          alt="slide suivant"
          (click)="onSlideNext()"
          class="arrow-slide prev-arrow"
        />
      </div>
    </div>

    <div class="under-container-position d-flex">
      <div class="d-flex flex-column content-position">
        <p>
          {{ descProximity }}
        </p>
        <app-rt-button
          class="m-ver-20"
          text="{{ btnAllMaterials }}"
        ></app-rt-button>
      </div>
      <div class="d-flex slider-position">
        <swiper-container
          class="swiper-container"
          [config]="swiperConfig"
          appSwiper
          #swiperPosition
        >
          <swiper-slide *ngFor="let i of [].constructor(9).keys()">
            <app-rt-proximity-card
              localisation="60"
              img="../../assets/images/img_example_3.svg"
              text="{{ textCardProximity }}"
            ></app-rt-proximity-card>
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>
  <div class="container container-position" *ngIf="isMobile">
    <div class="d-flex flex-column align-center">
      <h2 class="title-position">{{ titleProximity }}</h2>
      <p>
        {{ descProximity }}
      </p>
      <app-rt-proximity-card
        localisation="60"
        img="../../assets/images/img_example_3.svg"
        text="{{ textCardProximity }}"
      ></app-rt-proximity-card>
      <app-rt-button
        class="m-ver-20"
        text="{{ btnAllMaterials }}"
      ></app-rt-button>
    </div>
  </div>
  <div class="container container-presentation d-flex align-center">
    <div class="d-flex flex-column content-presentation">
      <h2>{{ whyRooots }}</h2>
      <div class="d-flex flex-wrap">
        <div class="item-presentation d-flex flex-column p-20">
          <div class="icon-presentation d-flex justify-content-center m-ver-10">
            <img src="./../../assets/icons/icon_rectangle.svg" alt="" />
          </div>
          <h3>{{ titleResponse1 }}</h3>
          <p class="mt-10">
            {{ descResponse1 }}
          </p>
        </div>
        <div class="item-presentation d-flex flex-column p-20">
          <div class="icon-presentation d-flex justify-content-center m-ver-10">
            <img src="./../../assets/icons/icon_cible.svg" alt="" />
          </div>
          <h3>{{ titleResponse2 }}</h3>
          <p class="mt-10">
            {{ descResponse2 }}
          </p>
        </div>
        <div class="item-presentation d-flex flex-column p-20">
          <div class="icon-presentation d-flex justify-content-center m-ver-10">
            <img src="./../../assets/icons/icon_pouce.svg" alt="" />
          </div>
          <h3>{{ titleResponse3 }}</h3>
          <p class="mt-10">
            {{ descResponse3 }}
          </p>
        </div>
        <div class="item-presentation d-flex flex-column p-20">
          <div class="icon-presentation d-flex justify-content-center m-ver-10">
            <img src="./../../assets/icons/icon_world.svg" alt="" />
          </div>
          <h3>{{ titleResponse4 }}</h3>
          <p class="mt-10">
            {{ descResponse4 }}
          </p>
        </div>
      </div>
    </div>
    <div
      class="illustration-presentation d-flex justify-content-flex-end"
      *ngIf="!isMobile"
    >
      <img src="./../../assets/images/img_illustration_home.svg" alt="" />
    </div>
  </div>
  <div class="container container-actu d-flex flex-column">
    <h2>{{ titleLastActu }}</h2>
    <div
      class="container-card-actu d-flex justify-content-space-between mt-50 flex-wrap"
    >
      <app-rt-article
        img="../../assets/images/img_illustration_actu.svg"
        titre="{{ titleActu1 }}"
        date="{{ dateActu1 }}"
        desc="{{ descActu1 }}"
      ></app-rt-article>
      <app-rt-article
        *ngIf="!isMobile"
        img="../../assets/images/img_illustration_actu.svg"
        titre="{{ titleActu2 }}"
        date="{{ dateActu2 }}"
        desc="{{ descActu2 }}"
      ></app-rt-article>
      <app-rt-article
        *ngIf="!isMobile"
        img="../../assets/images/img_illustration_actu.svg"
        titre="{{ titleActu3 }}"
        date="{{ dateActu3 }}"
        desc="{{ descActu3 }}"
      ></app-rt-article>
      <app-rt-article
        *ngIf="!isMobile"
        img="../../assets/images/img_illustration_actu.svg"
        titre="{{ titleActu4 }}"
        date="{{ dateActu4 }}"
        desc="{{ descActu4 }}"
      ></app-rt-article>
    </div>
    <app-rt-button class="m-ver-20" text="{{ allActu }}" routerLink="actus"></app-rt-button>
  </div>
  <div
    class="container container-fonctionnement d-flex justify-content-space-between align-center"
  >
    <div class="illustration-fonctionnement" *ngIf="!isMobile">
      <img src="./../../assets/images/img_illustration_fonctionnement.svg" />
    </div>
    <div class="wrapper-fonctionnement">
      <h2>{{ titleHowWorkIt }}</h2>
      <div class="item-fonctionnement d-flex align-start">
        <img class="mr-10" src="./../../assets/icons/icon_rooots.svg" />
        <div class="content-fonctionnement">
          <p class="item-number">01</p>
          <p>
            {{ descHowWorkIt1 }}
          </p>
        </div>
      </div>
      <div class="item-fonctionnement d-flex align-start">
        <img class="mr-10" src="./../../assets/icons/icon_rooots.svg" />
        <div class="content-fonctionnement">
          <p class="item-number">02</p>
          <p>
            {{ descHowWorkIt2 }}
          </p>
        </div>
      </div>
      <div class="item-fonctionnement d-flex align-start">
        <img class="mr-10" src="./../../assets/icons/icon_rooots.svg" />
        <div class="content-fonctionnement">
          <p class="item-number">03</p>
          <p>
            {{ descHowWorkIt3 }}
          </p>
        </div>
      </div>
      <div class="item-fonctionnement d-flex align-start">
        <img class="mr-10" src="./../../assets/icons/icon_rooots.svg" />
        <div class="content-fonctionnement">
          <p class="item-number">04</p>
          <p>
            {{ descHowWorkIt4 }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container container-commu d-flex flex-column" *ngIf="!isMobile">
    <div class="d-flex justify-content-space-between">
      <h2>{{ titleCommu }}</h2>
      <div>
        <img
          src="./../../assets/icons/icon_slider_arrow.svg"
          alt="slide précédant"
          (click)="onSlidePrevCommu()"
          class="arrow-slide m-hor-20"
        />
        <img
          src="./../../assets/icons/icon_slider_arrow.svg"
          alt="slide suivant"
          (click)="onSlideNextCommu()"
          class="arrow-slide prev-arrow"
        />
      </div>
    </div>
    <div class="wrapper-commu d-flex" *ngIf="!isMobile">
      <div class="content-commu d-flex flex-column">
        <p>
          {{ paraCommu }}
        </p>
        <app-rt-button
          class="m-ver-20"
          text="{{ btnJoinCommu }}"
        ></app-rt-button>
      </div>
      <div class="slider-commu">
        <swiper-container
          class="swiper-container"
          [config]="swiperConfig"
          appSwiper
          #swiperCommu
        >
          <swiper-slide>
            <app-rt-testimonial-card
              desc="{{ descAvis1 }}"
              situation="{{ situationAvis1 }}"
              nom="{{ nomAvis1 }}"
              img="../../assets/images/avis_example_1.svg"
            ></app-rt-testimonial-card>
          </swiper-slide>
          <swiper-slide>
            <app-rt-testimonial-card
              desc="{{ descAvis2 }}"
              situation="{{ situationAvis2 }}"
              nom="{{ nomAvis2 }}"
              img="../../assets/images/avis_example_2.svg"
            ></app-rt-testimonial-card>
          </swiper-slide>
          <swiper-slide>
            <app-rt-testimonial-card
              desc="{{ descAvis3 }}"
              situation="{{ situationAvis3 }}"
              nom="{{ nomAvis3 }}"
              img="../../assets/images/avis_example_3.svg"
            ></app-rt-testimonial-card>
          </swiper-slide>
          <swiper-slide>
            <app-rt-testimonial-card
              desc="{{ descAvis1 }}"
              situation="{{ situationAvis1 }}"
              nom="{{ nomAvis1 }}"
              img="../../assets/images/avis_example_1.svg"
            ></app-rt-testimonial-card>
          </swiper-slide>
          <swiper-slide>
            <app-rt-testimonial-card
              desc="{{ descAvis2 }}"
              situation="{{ situationAvis2 }}"
              nom="{{ nomAvis2 }}"
              img="../../assets/images/avis_example_2.svg"
            ></app-rt-testimonial-card>
          </swiper-slide>
          <swiper-slide>
            <app-rt-testimonial-card
              desc="{{ descAvis3 }}"
              situation="{{ situationAvis3 }}"
              nom="{{ nomAvis3 }}"
              img="../../assets/images/avis_example_3.svg"
            ></app-rt-testimonial-card>
          </swiper-slide>
          <swiper-slide>
            <app-rt-testimonial-card
              desc="{{ descAvis1 }}"
              situation="{{ situationAvis1 }}"
              nom="{{ nomAvis1 }}"
              img="../../assets/images/avis_example_1.svg"
            ></app-rt-testimonial-card>
          </swiper-slide>
          <swiper-slide>
            <app-rt-testimonial-card
              desc="{{ descAvis2 }}"
              situation="{{ situationAvis2 }}"
              nom="{{ nomAvis2 }}"
              img="../../assets/images/avis_example_2.svg"
            ></app-rt-testimonial-card>
          </swiper-slide>
          <swiper-slide>
            <app-rt-testimonial-card
              desc="{{ descAvis3 }}"
              situation="{{ situationAvis3 }}"
              nom="{{ nomAvis3 }}"
              img="../../assets/images/avis_example_3.svg"
            ></app-rt-testimonial-card>
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>
  <div class="container container-commu d-flex flex-column" *ngIf="isMobile">
    <div class="d-flex flex-column align-center">
      <h2>{{ titleCommu }}</h2>
      <p>
        {{ paraCommu }}
      </p>
      <app-rt-testimonial-card
        desc="{{ descAvis1 }}"
        situation="{{ situationAvis1 }}"
        nom="{{ nomAvis1 }}"
        img="../../assets/images/avis_example_1.svg"
      ></app-rt-testimonial-card>
      <app-rt-button class="m-ver-20" text="{{ btnJoinCommu }}"></app-rt-button>
    </div>
  </div>
</div>
