.item-1 {
  background-image: url("./../../assets/images/background_homepage.svg");
  height: 642px;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding-top: 80px;
  .content-item-1 {
    width: 630px;
    h1 {
      padding-bottom: 2rem;
      .underline {
        text-decoration: underline;
        text-decoration-color: var(--primary);
        text-underline-position: from-font;
        text-underline-offset: 5px;
      }
    }
    p {
      text-align: center;
    }
  }
}
.wrapper-cards {
  position: relative;
  .container-card {
    position: absolute;
    bottom: -175px;
    width: 100%;
  }
}

.container-position {
  padding-top: 14rem;
  padding-bottom: 6rem;
  background-color: var(--gray-background);
  .title-position {
    flex: 2;
  }
  .under-container-position {
    margin-top: 2rem;
    .content-position {
      width: 25%;
      padding-right: 32px;
      p{
        line-height: 24px;
      }
    }
  }
  .slider-position {
    flex: 75%;
    min-width: 0;
    .swiper-container {
      width: 100%;
      .swiper-wrapper{
        display: flex!important;
        justify-content: space-between!important;
      }
      swiper-slide {
        display: flex;
        justify-content: flex-end;
    
      }
    }
  }
}

.prev-arrow {
  transform: rotate(180deg);
}
.arrow-slide {
  width: 48px;
  height: 48px;
}

// Surcharge css swiper pagination
swiper-container {
  --swiper-theme-color: var(--primary);
  --swiper-pagination-bullet-width: 12px;
  --swiper-pagination-bullet-height: 12px;
  --swiper-pagination-bullet-border-radius: 3px;
  --swiper-pagination-bottom: -40px;
  --swiper-pagination-bullet-horizontal-gap: 8px;
  --swiper-pagination-bullet-inactive-opacity: 1;
}
swiper-container::part(container) {
  overflow-y: visible;
}

swiper-container::part(bullet) {
  background-color: white;
  border: 1px solid var(--primary);
}
swiper-container::part(bullet-active) {
  border: 1px solid var(--primary);
}
swiper-container::part(pagination) {
  text-align: end;
  left: -72px!important;
}

// Présentation
.container-presentation {
  background: var(--background-color);
  padding-top: 5rem;
  padding-bottom: 5rem;
  gap: 5%;
  .content-presentation {
    flex: 1.5;
    .item-presentation {
      flex: 50%;
      padding-left: 0;
      .icon-presentation {
        width: 60px;
        height: 60px;
        background: #CCD3DC;
        border-radius: 50%;
        img {
          width: 24px;
        }
      }
    }
  }
  .illustration-presentation {
    flex: 1;
  }
}

// actu
.container-actu{
  background-color: var(--gray-background);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

//presentation
.container-fonctionnement {
  background: var(--background-color);
  padding-top: 5rem;
  padding-bottom: 5rem;
  gap: 5%;
  .item-fonctionnement {
    margin-top: 3rem;
    .content-fonctionnement {
      margin-top: 5px;
    }
    .item-number {
      font-weight: 700;
      font-size: 21px;
      color: var(--primary);
      padding-bottom: 10px;
    }
  }
}
// commuslider-commu
.container-commu{
  background-color: var(--gray-background);
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.wrapper-commu {
  margin-top: 2rem;
  .content-commu {
    width: 25%;
    padding-right: 32px;
  }
  .slider-commu {
    flex: 75%;
    min-width: 0;
    .swiper-container {
      width: 100%;
      .swiper-wrapper{
        display: flex!important;
        justify-content: space-between!important;
      }
      swiper-slide {
        display: flex;
        justify-content: center;
      }
    }
  }
}


